services:
#--------------banco-------------------------------
  speakly-bank-mariadb:
      image: mariadb:latest
      container_name: speakly-bank-mariadb
      environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD_BANK}
        MYSQL_DATABASE: ${MYSQL_DATABASE_BANK}
      healthcheck:
        test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-uroot", "-p${MYSQL_ROOT_PASSWORD_BANK}"]
        interval: 10s
        timeout: 5s
        retries: 5
      networks:
        - proxy_red

  speakly-bank-back:
    build:
      context: .
      dockerfile: Dockerfile-bank-back
      args:
        GIT_BRANCH: ${GIT_BRANCH}
    container_name: speakly-bank-back
    environment:
      VIRTUAL_HOST: ${BANK_BACK}
      # sobrescribir application.properties
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_ROOT_PASSWORD_BANK}
    depends_on:
      speakly-bank-mariadb:
        condition: service_healthy
    networks:
      - proxy_red
  speakly-bank-front:
    build:
      context: .
      dockerfile: Dockerfile-bank-front
      args:
        GIT_BRANCH: ${GIT_BRANCH}
        API_URL: ${BANK_BACK}
    container_name: speakly-bank-front
    environment:
      VIRTUAL_HOST: ${BANK_FRONT}
    depends_on:
      - speakly-bank-back
    networks:
      - proxy_red

#--------------store-----------------------

  speakly-mariadb:
      image: mariadb:latest
      container_name: speakly-mariadb
      environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD_STORE}
        MYSQL_DATABASE: ${MYSQL_DATABASE_STORE}
      healthcheck:
        test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-uroot", "-p${MYSQL_ROOT_PASSWORD_STORE}"]
        interval: 10s
        timeout: 5s
        retries: 5
      networks:
        - proxy_red

  speakly-store-back:
    build:
      context: .
      dockerfile: Dockerfile-store-back
      args:
        GIT_BRANCH: ${GIT_BRANCH}
    container_name: speakly-store-back
    env_file:
     - .speakly-env
    environment:
      VIRTUAL_HOST: ${STORE_BACK}
      # sobrescribir application.properties
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_STORE}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_ROOT_PASSWORD_STORE}
    depends_on:
      speakly-mariadb:
        condition: service_healthy
    networks:
      - proxy_red

  speakly-store-adm-front:
    build:
      context: .
      dockerfile: Dockerfile-store-adm-front
      args:
        GIT_BRANCH: ${GIT_BRANCH}
        API_URL: ${STORE_BACK}
    container_name: speakly-store-adm-front
    environment:
      VIRTUAL_HOST: ${STORE_ADM_FRONT}
    depends_on:
      - speakly-store-back
    networks:
      - proxy_red

  speakly-store-front:
    build:
      context: .
      dockerfile: Dockerfile-store-front
      args:
        GIT_BRANCH: ${GIT_BRANCH}
        API_URL: ${STORE_BACK}
    container_name: speakly
    environment:
      VIRTUAL_HOST: ${STORE_FRONT}
    depends_on:
      - speakly-store-back
    networks:
      - proxy_red

networks:
  proxy_red:
    external:
      name: nginx-proxy-network